@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --radius: 1.5rem;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #FF29A8;
  border-radius: 1px;
}

.custom-scrollbar::-webkit-scrollbar-button,
.custom-scrollbar::-webkit-scrollbar-corner {
  display: none;
}

/* For Firefox */
@-moz-document url-prefix() {
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #FF29A8 transparent;
  }
}

.bg-custom-gradient {
  background: linear-gradient(161.36deg, #8845BE 19.26%, #B94AAB 46.7%, #881D7B 87.39%);
}

